a[data-v] {
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 14px;
	text-decoration: none;
	color: #fff
}

a.exact.active[data-v] {
	color: #ff6900
}

a[data-v] {
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 14px;
	text-decoration: none;
	color: #fff
}

a.exact.active[data-v] {
	color: #ff6900
}

h1.logo {
	display: block;
	height: 4rem;
	font-size: 0
}

h1.logo:before {
	content: "";
	display: block;
	width: 10rem;
	height: 100%;
	background-image: url(../img/logo.fb0e30b4.png);
	background-position: 0;
	background-repeat: no-repeat;
	background-size: 100%
}

#sidebar {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	min-width: 15rem;
	height: 100%;
	background-color: #000;
	overflow: auto
}

.sidebar {
	width: 100%;
	height: 100%;
	color: #fff
}

.sidebar a {
	color: #fff;
	text-decoration: none
}

.sidebar .headline {
	font-weight: 400
}

.sidebar nav#gnb {
	padding-left: 2rem;
	padding-right: 2rem
}

.sidebar .global.navigation>li {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #fff
}

.sidebar .global.navigation>li .headline {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer
}

.sidebar .global.navigation>li .active.headline i {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg)
}

.sidebar .submenu {
	margin-top: 1.5rem
}

.sidebar .submenu i {
	display: inline-block;
	width: .5rem
}

.sidebar .submenu span {
	margin-left: .75rem
}

.sidebar .submenu i+span {
	margin-left: .25rem
}

.sidebar .submenu a {
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 14px;
	text-decoration: none;
	color: #fff
}

.sidebar .submenu a.exact.active {
	color: #ff6900;
	text-decoration: underline
}

.sidebar .level.one a.active i {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg)
}

.sidebar .level.two a {
	margin-left: 1rem;
	color: hsla(0, 0%, 100%, .8)
}

.sidebar .level.two a.exact.active {
	color: #ff6900;
	text-decoration: underline
}

nav#gnb {
	min-height: 100%;
	position: relative;
	padding-bottom: 5.5rem
}

#sidebar-settings {
	position: absolute;
	left: 2rem;
	right: 2rem;
	bottom: 1rem;
	border-bottom: 0
}

#toast {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 3rem;
	padding-left: 15rem;
	font-size: 14px;
	line-height: 3rem;
	text-align: center;
	background-color: #fff;
	color: rgba(0, 0, 0, .54);
	-webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15)
}

h1.logo[data-v] {
	display: block;
	height: 4rem;
	font-size: 0
}

h1.logo[data-v]:before {
	content: "";
	display: block;
	width: 10rem;
	height: 100%;
	background-image: url(../img/logo.fb0e30b4.png);
	background-position: 0;
	background-repeat: no-repeat;
	background-size: 100%
}

#top-nav[data-v] {
	position: relative;
	z-index: 10;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-left: 2rem;
	padding-right: 2rem;
	height: 4rem;
	color: #fff;
	background: #000
}

#top-nav a[data-v] {
	color: #fff;
	text-decoration: none;
	font-size: 14px
}

#top-nav.padded[data-v] {
	margin-top: 3rem
}

#top-nav.transparent[data-v] {
	color: #000;
	background: transparent
}

#top-nav.transparent a[data-v] {
	color: #000
}

#top-nav #locale-changer[data-v],
#top-nav i.round.icon[data-v] {
	margin-left: 1rem
}

#top-nav>a[data-v] {
	font-weight: 700
}

.submenu[data-v] {
	position: absolute;
	top: 100%;
	right: 1rem;
	width: 10rem;
	background-color: #fff;
	-webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .05);
	box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .05)
}

.submenu li[data-v] {
	margin: 1rem
}

.submenu a[data-v] {
	color: #000!important;
	cursor: pointer
}

#top-nav:not(.transparent) #locale-changer[data-v] {
	background-color: #000;
	border-color: #000
}

#top-nav:not(.transparent) #locale-changer>select#locale[data-v] {
	width: auto;
	min-width: 1rem;
	line-height: 1.5;
	color: #fff
}

#top-nav:not(.transparent) #locale-changer>select#locale option[data-v] {
	color: #000
}

#top-nav:not(.transparent) #locale-changer i.icon[data-v] {
	right: 1rem
}


/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block
}

figure {
	margin: 1em 40px
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

pre {
	font-family: monospace, monospace;
	font-size: 1em
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

a:active,
a:hover {
	outline-width: 0
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted
}

b,
strong {
	font-weight: inherit;
	font-weight: bolder
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

dfn {
	font-style: italic
}

mark {
	background-color: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

audio,
video {
	display: inline-block
}

audio:not([controls]) {
	display: none;
	height: 0
}

img {
	border-style: none
}

svg:not(:root) {
	overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	outline: none
}

:focus {
	outline: none
}

button,
input {
	overflow: visible
}

button,
select {
	text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
	-webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

progress {
	display: inline-block;
	vertical-align: baseline
}

textarea {
	overflow: auto
}

[type=checkbox],
[type=radio] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

details,
menu {
	display: block
}

summary {
	display: list-item
}

canvas {
	display: inline-block
}

[hidden],
template {
	display: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0
}

dl,
ol,
ul {
	list-style: none
}

dd,
dl,
dt,
ol,
ul {
	margin: 0;
	padding: 0
}

@font-face {
	font-family: Spoqa Han Sans;
	font-weight: 700;
	src: local("Spoqa Han Sans Bold"), url(https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.woff) format("woff"), url(https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.ttf) format("truetype")
}

@font-face {
	font-family: Spoqa Han Sans;
	font-weight: 400;
	src: local("Spoqa Han Sans Regular"), url(https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.woff) format("woff"), url(https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.ttf) format("truetype")
}

*,
:after,
:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

body {
	background-color: #f5f6f7;
	font-family: Roboto, Spoqa Han Sans;
	line-height: 1.4;
	color: #000
}

#cover {
	position: relative;
	width: 100vw;
	height: 100vh
}

a {
	color: #000
}

a.external .icon {
	vertical-align: text-bottom
}

.link {
	color: #000;
	text-decoration: underline;
	cursor: pointer
}

em {
	font-style: normal;
	font-weight: 700
}

blockquote {
	text-align: center;
	font-size: 1.5rem
}

.capitalized {
	text-transform: uppercase
}

.strong {
	font-weight: 700!important
}

.condensed {
	font-weight: 400!important
}

.sub {
	font-size: 14px
}

.highlighted {
	color: #ff6900!important
}

.aligned[class*="left aligned"] {
	text-align: left!important
}

.aligned[class*="center aligned"] {
	text-align: center!important
}

.aligned[class*="right aligned"] {
	text-align: right!important
}

.hidden,
[v-cloak] {
	display: none!important
}

img.fluid {
	display: block;
	width: 100%
}

.button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	display: inline-block;
	padding: .75rem 2rem;
	border: 1px solid rgba(0, 0, 0, .25);
	border-radius: 0;
	outline: 0;
	background-color: rgba(0, 0, 0, .25);
	color: #fff;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: border .15s linear, color .15s linear, background-color .15s linear, opacity .15s linear, -webkit-box-shadow .15s linear;
	transition: border .15s linear, color .15s linear, background-color .15s linear, opacity .15s linear, -webkit-box-shadow .15s linear;
	transition: border .15s linear, color .15s linear, background-color .15s linear, opacity .15s linear, box-shadow .15s linear;
	transition: border .15s linear, color .15s linear, background-color .15s linear, opacity .15s linear, box-shadow .15s linear, -webkit-box-shadow .15s linear
}

.button.inactive {
	opacity: .7;
	cursor: not-allowed
}

.button.fluid {
	display: block;
	width: 100%;
	margin-bottom: .5rem
}

.button.medium {
	padding-left: 1rem;
	padding-right: 1rem
}

.button.medium,
.button.small {
	border-radius: 0;
	font-size: 12px;
	-webkit-box-shadow: none!important;
	box-shadow: none!important
}

.button.small {
	padding: .25rem .75rem
}

.button.square {
	border-radius: 0!important
}

.button.disabled,
.button[disabled] {
	background-color: rgba(0, 0, 0, .25)!important;
	border-color: rgba(0, 0, 0, .25)!important;
	cursor: not-allowed
}

[class*="primary button"] {
	border-color: #ff6900;
	background-color: #ff6900;
	color: #fff
}

[class*="primary button"],
[class*="secondary button"] {
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1)
}

[class*="secondary button"] {
	border-color: rgba(0, 0, 0, .1);
	background-color: #fff;
	color: #000
}

[class*="condensed button"] {
	border-color: #fff;
	background-color: transparent;
	color: #fff
}

[class*="condensed button"].inverted {
	border-color: #fff;
	background-color: #fff;
	color: #ff6900
}

[class*="destroy button"] {
	border-color: #ef4747;
	background-color: #ef4747;
	color: #fff;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1)
}

[class*="ghost button"] {
	border-color: transparent;
	background-color: transparent;
	color: #ff6900
}

[class*="ghost button"].flat {
	color: #000;
	opacity: .5
}

[class*="ghost button"].hoverable:hover {
	background-color: rgba(0, 0, 0, .15)
}

[class*="action button"] {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	border: 0;
	padding: 0;
	vertical-align: middle;
	font-size: 0!important;
	line-height: 1;
	background-color: transparent!important;
	background-repeat: no-repeat;
	background-size: 100%;
	cursor: pointer;
	-webkit-box-shadow: none!important;
	box-shadow: none!important
}

[class*="action button"].close {
	width: 1.5rem;
	height: 1.5rem;
	-webkit-transition: -webkit-transform .25s ease-out;
	transition: -webkit-transform .25s ease-out;
	transition: transform .25s ease-out;
	transition: transform .25s ease-out, -webkit-transform .25s ease-out
}

[class*="action button"].close.delete {
	position: absolute;
	left: 90%;
	top: 40%;
	width: .3rem!important;
	height: .3rem!important
}

[class*="action button"].close:before,
[class*="action button"].close span {
	position: absolute;
	left: 0;
	right: 0;
	height: 2px;
	background-color: #000;
	font-size: 0
}

[class*="action button"].close:before {
	content: "";
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	top: calc(50% - 1px);
	left: -2px;
	right: -2px
}

[class*="action button"].close span {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: calc(50% - 1px);
	left: -2px;
	right: -2px
}

[class*="action button"].close:hover {
	-webkit-transform: rotate(-90deg) scale(1.2);
	transform: rotate(-90deg) scale(1.2)
}

[class*="send button"] {
	background-color: #4b4b4b;
	color: #fff;
	border-radius: 4px!important
}

[class*="radio button"] {
	border-color: rgba(0, 0, 0, .1);
	background-color: #fff;
	color: #000;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
	text-align: center
}

[class*="radio button"] img {
	width: 2rem;
	margin: 0 auto 1rem
}

[class*="radio button"] input {
	display: none
}

[class*="stacked buttons"] {
	position: relative;
	display: inline-block;
	padding: 0!important
}

[class*="stacked buttons"] .button {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0!important
}

[class*="stacked buttons"] .button:first-child {
	position: static
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto
}

.container.tiny {
	max-width: 480px
}

.datepicker {
	display: inline-block;
	position: relative;
	z-index: 10;
	margin-right: 1rem;
	margin-bottom: 1rem;
	padding: .75rem 2rem;
	text-align: left;
	cursor: pointer
}

.datepicker:hover {
	background-color: #ffebde;
	border-color: #ffebde
}

.datepicker.active {
	background-color: #fff;
	-webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .05);
	box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .05)
}

.datepicker>.label {
	font-size: 14px;
	font-weight: 700
}

.datepicker>.binding {
	font-size: 12px;
	color: rgba(0, 0, 0, .55)
}

.datepicker>i.icon {
	position: absolute;
	z-index: 0;
	top: 1rem
}

.datepicker>i.icon.calendar {
	left: .5rem
}

.datepicker>i.icon.calendar>svg {
	fill: #ff6900
}

.datepicker>i.icon.chevron {
	right: .5rem
}

.datepicker .combo {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .05);
	box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .05);
	-webkit-clip-path: inset(0 -32px -32px -32px);
	clip-path: inset(0 -32px -32px -32px)
}

.datepicker.active .combo {
	display: block;
	cursor: default
}

.datepicker .combo ul {
	margin-top: .5rem;
	margin-bottom: .5rem
}

.datepicker .combo ul li {
	padding: .5rem 2rem;
	font-size: 14px;
	cursor: pointer
}

.datepicker .combo ul li:hover {
	background-color: rgba(0, 0, 0, .1)
}

.datepicker .combo ul li.active {
	color: #ff6900;
	font-weight: 700
}

input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: auto;
	min-width: 100px;
	padding: .5rem 1rem;
	border: 1px solid #f0f0f0;
	border-radius: 0;
	background-color: #f0f0f0;
	outline: none;
	resize: none
}

input[type=email].long,
input[type=number].long,
input[type=password].long,
input[type=tel].long,
input[type=text].long,
textarea.long {
	min-width: 360px
}

input[type=email].medium,
input[type=number].medium,
input[type=password].medium,
input[type=tel].medium,
input[type=text].medium,
textarea.medium {
	width: 240px
}

input[type=email].short,
input[type=number].short,
input[type=password].short,
input[type=tel].short,
input[type=text].short,
textarea.short {
	width: 100px
}

input[type=email].fluid,
input[type=number].fluid,
input[type=password].fluid,
input[type=tel].fluid,
input[type=text].fluid,
textarea.fluid {
	width: 100%
}

input[type=email].invalid,
input[type=number].invalid,
input[type=password].invalid,
input[type=tel].invalid,
input[type=text].invalid,
textarea.invalid {
	border-color: red
}

input[type=email][readonly],
input[type=number][readonly],
input[type=password][readonly],
input[type=tel][readonly],
input[type=text][readonly],
textarea[readonly] {
	opacity: .7;
	cursor: not-allowed
}

input[type=number] {
	padding-right: .5rem!important
}

select {
	z-index: 1;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: auto;
	min-width: 100px;
	border: 0;
	background-color: transparent;
	padding: .5rem 1rem;
	padding-right: 2rem;
	font-size: 14px;
	outline: none;
	resize: none;
	cursor: pointer
}

.select,
select {
	position: relative
}

.select {
	display: inline-block;
	border: 1px solid #f0f0f0;
	border-radius: 0;
	background-color: #f0f0f0
}

.select>i.icon {
	position: absolute;
	z-index: 0;
	right: .5rem;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)
}

.select.primary {
	color: #000;
	border-radius: 4px;
	border: 1px solid #ff7f00;
	background-color: #fff!important
}

.select.primary>select {
	font-size: 13px;
	font-weight: 700
}

.select.fluid,
.select.fluid select {
	width: 100%
}

.select.invalid select {
	border: 1px solid red
}

ul.formset.flexible {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

ul.formset.flexible .floated {
	margin-left: auto
}

ul.formset:not(.flexible) li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-bottom: .5rem
}

ul.formset:not(.flexible) li:last-child {
	margin-bottom: 0
}

ul.formset.flexible li {
	margin-right: 2rem
}

ul.formset label {
	display: block;
	padding: .5rem;
	font-size: 13px;
	color: rgba(0, 0, 0, .55)
}

ul.formset label+:not(input):not(div):not(table) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 14px
}

ul.formset:not(.flexible) label {
	display: inline-block;
	padding-right: 1rem;
	min-width: 10rem
}

ul.formset li>label {
	width: 10rem
}

ul.formset input {
	font-size: 14px
}

ul.formset .button+.button {
	margin-left: .5rem
}

ul.formset p.error,
ul.formset p.help,
ul.formset p.valid {
	-ms-flex-item-align: center;
	align-self: center;
	margin: 0;
	margin-left: 1rem;
	font-size: .75rem
}

ul.formset p.help {
	color: silver
}

ul.formset p.error {
	color: red
}

ul.fieldset {
	margin-top: 2rem
}

ul.fieldset>li {
	position: relative;
	margin-top: 1rem;
	margin-bottom: 2rem
}

ul.fieldset input~label {
	z-index: 0
}

ul.fieldset p.error,
ul.fieldset p.help,
ul.fieldset p.valid {
	margin-top: .25rem;
	margin-bottom: 0;
	font-size: .75rem
}

ul.fieldset p.help {
	color: silver
}

ul.fieldset p.error {
	color: red
}

ul.fieldset input[type=email],
ul.fieldset input[type=number],
ul.fieldset input[type=password],
ul.fieldset input[type=tel],
ul.fieldset input[type=text],
ul.fieldset textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	width: 100%;
	padding: .5rem;
	border-radius: 0;
	background-color: transparent;
	outline: none;
	resize: none;
	-webkit-transition: border-color .2s ease-out;
	transition: border-color .2s ease-out
}

ul.fieldset input[type=email]:not([readonly]):not(.bordered):focus,
ul.fieldset input[type=number]:not([readonly]):not(.bordered):focus,
ul.fieldset input[type=password]:not([readonly]):not(.bordered):focus,
ul.fieldset input[type=tel]:not([readonly]):not(.bordered):focus,
ul.fieldset input[type=text]:not([readonly]):not(.bordered):focus,
ul.fieldset textarea:not([readonly]):not(.bordered):focus {
	border-color: #ff6900
}

ul.fieldset input[type=email]+label,
ul.fieldset input[type=number]+label,
ul.fieldset input[type=password]+label,
ul.fieldset input[type=tel]+label,
ul.fieldset input[type=text]+label,
ul.fieldset input[type=radio]+label,
ul.fieldset textarea+label {
	position: absolute;
	top: -1.25rem;
	left: 0;
	font-size: .875rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	-webkit-transition: color .2s ease;
	transition: color .2s ease
}

ul.fieldset input[type=email][placeholder]+label,
ul.fieldset input[type=number][placeholder]+label,
ul.fieldset input[type=password][placeholder]+label,
ul.fieldset input[type=tel][placeholder]+label,
ul.fieldset input[type=text][placeholder]+label,
ul.fieldset textarea[placeholder]+label {
	color: #000
}

ul.fieldset input[type=email]+label.active,
ul.fieldset input[type=email]:not([readonly]):focus+label,
ul.fieldset input[type=number]+label.active,
ul.fieldset input[type=number]:not([readonly]):focus+label,
ul.fieldset input[type=password]+label.active,
ul.fieldset input[type=password]:not([readonly]):focus+label,
ul.fieldset input[type=tel]+label.active,
ul.fieldset input[type=tel]:not([readonly]):focus+label,
ul.fieldset input[type=text]+label.active,
ul.fieldset input[type=text]:not([readonly]):focus+label,
ul.fieldset textarea+label.active,
ul.fieldset textarea:not([readonly]):focus+label {
	color: #ff6900
}

ul.fieldset input[type=email] .label.required:after,
ul.fieldset input[type=email][required]+label:after,
ul.fieldset input[type=number] .label.required:after,
ul.fieldset input[type=number][required]+label:after,
ul.fieldset input[type=password] .label.required:after,
ul.fieldset input[type=password][required]+label:after,
ul.fieldset input[type=tel] .label.required:after,
ul.fieldset input[type=tel][required]+label:after,
ul.fieldset input[type=text] .label.required:after,
ul.fieldset input[type=text][required]+label:after,
ul.fieldset textarea .label.required:after,
ul.fieldset textarea[required]+label:after {
	content: "*"
}

textarea {
	height: auto
}

textarea.code {
	width: 100%;
	min-height: 20rem;
	font-family: monospace;
	font-size: 12px
}

.checkbox {
	display: inline-block
}

.checkbox>input[type=checkbox] {
	display: none
}

.checkbox>label {
	margin: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer
}

.checkbox>label span {
	display: inline-block;
	vertical-align: middle
}

.checkbox>label span:first-child {
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	-webkit-transform: scale(1);
	transform: scale(1);
	vertical-align: middle;
	border: 1px solid #9098a9;
	-webkit-transition: all .2s ease;
	transition: all .2s ease
}

.checkbox>label span:first-child svg {
	position: absolute;
	top: 3px;
	left: 2px;
	fill: none;
	stroke: #fff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

.checkbox>label span:first-child:before {
	content: "";
	width: 100%;
	height: 100%;
	background: #ff6900;
	display: block;
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 1;
	border-radius: 50%
}

.checkbox>label span:last-child {
	padding-left: 8px;
	font-size: 12px
}

.checkbox>label:hover span:first-child {
	border-color: #ff6900
}

.checkbox input:checked+label span:first-child {
	background: #ff6900;
	border-color: #ff6900
}

.checkbox input:checked+label span:first-child svg {
	stroke-dashoffset: 0
}

.checkbox input:checked+label span:first-child:before {
	-webkit-transform: scale(3.5);
	transform: scale(3.5);
	opacity: 0;
	-webkit-transition: all .6s ease;
	transition: all .6s ease
}

label.radio {
	min-width: auto!important
}

label.radio input {
	display: none
}

label.radio input:checked+.button {
	border-color: #ff6900;
	color: #ff6900
}

label.switch {
	position: relative;
	display: inline-block;
	width: 2.25rem;
	height: 1.25rem
}

label.switch input {
	display: none
}

label.switch .slider {
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	border-radius: 1rem
}

label.switch .slider,
label.switch .slider:before {
	position: absolute;
	-webkit-transition: all .25s ease-out;
	transition: all .25s ease-out
}

label.switch .slider:before {
	content: "";
	height: 1rem;
	width: 1rem;
	left: .125rem;
	top: .125rem;
	border-radius: 50%;
	background-color: #fff
}

label.switch input:checked+.slider {
	background-color: rgba(40, 167, 69, .75)
}

label.switch input:checked+.slider:before {
	-webkit-transform: translateX(1rem);
	transform: translateX(1rem)
}

.grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch
}

.grid[class*="with gutter"] {
	margin-left: -.5rem;
	margin-right: -.5rem
}

.grid[class*="with gutter"]>.column {
	margin-bottom: 1rem;
	padding-left: .5rem;
	padding-right: .5rem
}

.grid>.column[class*="three wide"] {
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
	max-width: 25%
}

.grid>.column[class*="four wide"] {
	-webkit-box-flex: 4;
	-ms-flex: 4;
	flex: 4;
	max-width: 33.33%
}

.grid>.column[class*="six wide"] {
	-webkit-box-flex: 6;
	-ms-flex: 6;
	flex: 6;
	max-width: 50%
}

.grid>.column[class*="eight wide"] {
	-webkit-box-flex: 8;
	-ms-flex: 8;
	flex: 8;
	max-width: 66.66%
}

.grid>.column[class*="twelve wide"] {
	-webkit-box-flex: 12;
	-ms-flex: 12;
	flex: 12;
	width: 100%
}

.headline,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Nunito Sans, Spoqa Han Sans;
	font-size: 16px
}

.headline.small,
h1.small,
h2.small,
h3.small,
h4.small,
h5.small,
h6.small {
	font-size: 14px
}

.headline.tiny,
h1.tiny,
h2.tiny,
h3.tiny,
h4.tiny,
h5.tiny,
h6.tiny {
	font-size: 12px
}

.page.headline {
	font-size: 22px;
	margin-bottom: 1rem
}

.icon {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	-webkit-transition: -webkit-transform .2s ease;
	transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease
}

.icon>svg {
	display: block;
	fill: currentColor;
	width: 1rem;
	height: 1rem
}

.icon.round {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: #ff6900;
	cursor: pointer
}

.icon.round>svg {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	fill: #fff
}

.icon.large>svg {
	width: 1.5rem;
	height: 1.5rem
}

.icon.small>svg {
	width: .75rem;
	height: .75rem
}

.icon.tiny>svg {
	width: .5rem;
	height: .5rem
}

.icon.help {
	color: #bdbdbd;
	vertical-align: middle;
	margin-bottom: 2px;
	cursor: pointer
}

.icon.delete {
	vertical-align: top
}

.icon.plus>svg {
	fill: #ff6900
}

.icon.minus>svg {
	fill: #5b9af8
}

.spinner {
	text-align: center
}

.spinner>svg {
	font-size: 0;
	width: 30px;
	height: 30px;
	-webkit-animation: rotator 1.4s linear infinite;
	animation: rotator 1.4s linear infinite
}

@-webkit-keyframes rotator {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg)
	}
}

@keyframes rotator {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg)
	}
}

.path {
	stroke-dasharray: 187;
	stroke-dashoffset: 0;
	-webkit-transform-origin: center;
	transform-origin: center;
	stroke: #ff6900;
	-webkit-animation: dash 1.4s ease-in-out infinite;
	animation: dash 1.4s ease-in-out infinite
}

.light.spinner>svg .path {
	stroke: #fff
}

.small.spinner>svg {
	width: 15px;
	height: 15px
}

@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 187
	}
	50% {
		stroke-dashoffset: 46.75;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg)
	}
	to {
		stroke-dashoffset: 187;
		-webkit-transform: rotate(450deg);
		transform: rotate(450deg)
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: 187
	}
	50% {
		stroke-dashoffset: 46.75;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg)
	}
	to {
		stroke-dashoffset: 187;
		-webkit-transform: rotate(450deg);
		transform: rotate(450deg)
	}
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	background-color: #fff
}

table.break {
	word-break: break-all
}

table thead tr {
	background-color: #f1f1f1
}

table td,
table th {
	padding: .5rem;
	font-size: 14px
}

table td.long,
table th.long {
	width: 30%
}

table td.medium,
table th.medium {
	width: 20%
}

table td.short,
table th.short {
	width: 10%
}

table td {
	text-align: center
}

table tbody.nowrap {
	white-space: nowrap
}

table tbody tr:nth-child(odd) {
	background-color: #f9f9f9
}

table tbody tr:nth-child(2n) {
	background-color: #fff
}

table.condensed {
	width: auto!important
}

table.condensed td {
	padding-left: 0;
	padding-top: 0;
	text-align: left
}

table.condensed td.long {
	min-width: 360px
}

table.condensed td.medium {
	min-width: 240px
}

table.condensed td.short {
	width: 100px
}

.toast {
	margin-bottom: 2rem;
	padding: 1rem;
	background-color: #ff6900;
	color: #fff
}

.toast h3:not(.compact) {
	margin-bottom: 1rem
}

.toast .button+.button {
	margin-left: 1rem
}

.toast .small.faded {
	opacity: .7;
	font-size: 14px
}

.v-notices {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	overflow: hidden;
	z-index: 1052;
	pointer-events: none
}

.v-notices,
.v-notices .v-toast {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.v-notices .v-toast {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-animation-duration: .15s;
	animation-duration: .15s;
	margin: 0;
	padding: .5rem;
	-webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .05);
	box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .05);
	border-radius: 4px;
	pointer-events: auto;
	color: #fff;
	background-color: #343a40;
	cursor: pointer
}

.v-notices .v-toast .v-toast-text {
	margin: 0;
	margin-right: .5rem;
	font-size: 14px;
	word-break: break-word
}

.v-notices .v-toast .v-toast-icon {
	display: block;
	width: .75rem;
	height: .75rem;
	margin-right: .5rem;
	background-repeat: no-repeat;
	background-size: 100%
}

.v-notices .v-toast-success {
	background-color: rgba(40, 167, 69, .75)
}

.v-notices .v-toast-success .v-toast-icon {
	background-image: url(../img/info.595c8f74.svg)
}

.v-notices .v-toast-error {
	background-color: rgba(220, 53, 69, .75)
}

.v-notices .v-toast-error .v-toast-icon {
	background-image: url(../img/error.484cde31.svg)
}

.v-notices .v-toast.is-bottom,
.v-notices .v-toast.is-top {
	-ms-flex-item-align: center;
	align-self: center
}

.v-notices .v-toast.is-bottom-right,
.v-notices .v-toast.is-top-right {
	-ms-flex-item-align: end;
	align-self: flex-end
}

.v-notices .v-toast.is-bottom-left,
.v-notices .v-toast.is-top-left {
	-ms-flex-item-align: start;
	align-self: flex-start
}

.v-notices.is-top {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.v-notices.is-bottom {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse
}

.v-notices.is-custom-parent {
	position: absolute
}

@media screen and (max-width:768px) {
	.v-notices {
		padding: 0;
		position: fixed!important
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}

.fade-enter-active,
.fade-leave-active {
	-webkit-transition: opacity .15s ease-out;
	transition: opacity .15s ease-out
}

.fade-enter,
.fade-leave-to {
	opacity: 0
}

.tooltip {
	display: block!important;
	z-index: 10000
}

.tooltip .tooltip-inner {
	padding: .5rem;
	border-radius: .5rem;
	font-size: 12px;
	color: #bdbdbd;
	background-color: #000;
	-webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .05);
	box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .05)
}

.tooltip .tooltip-arrow {
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	margin: 5px;
	border-color: #000;
	z-index: 1
}

.tooltip[x-placement^=top] {
	margin-bottom: 5px
}

.tooltip[x-placement^=top] .tooltip-arrow {
	border-width: 5px 5px 0 5px;
	border-left-color: transparent!important;
	border-right-color: transparent!important;
	border-bottom-color: transparent!important;
	bottom: -5px;
	left: calc(50% - 5px);
	margin-top: 0;
	margin-bottom: 0
}

.tooltip[x-placement^=bottom] {
	margin-top: 5px
}

.tooltip[x-placement^=bottom] .tooltip-arrow {
	border-width: 0 5px 5px 5px;
	border-left-color: transparent!important;
	border-right-color: transparent!important;
	border-top-color: transparent!important;
	top: -5px;
	left: calc(50% - 5px);
	margin-top: 0;
	margin-bottom: 0
}

.tooltip[x-placement^=right] {
	margin-left: 5px
}

.tooltip[x-placement^=right] .tooltip-arrow {
	border-width: 5px 5px 5px 0;
	border-left-color: transparent!important;
	border-top-color: transparent!important;
	border-bottom-color: transparent!important;
	left: -5px;
	top: calc(50% - 5px);
	margin-left: 0;
	margin-right: 0
}

.tooltip[x-placement^=left] {
	margin-right: 5px
}

.tooltip[x-placement^=left] .tooltip-arrow {
	border-width: 5px 0 5px 5px;
	border-top-color: transparent!important;
	border-right-color: transparent!important;
	border-bottom-color: transparent!important;
	right: -5px;
	top: calc(50% - 5px);
	margin-left: 0;
	margin-right: 0
}

.tooltip[aria-hidden=true] {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .15s, visibility .15s;
	transition: opacity .15s, visibility .15s
}

.tooltip[aria-hidden=false] {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity .15s;
	transition: opacity .15s
}

.tooltip.info .tooltip-inner {
	background: rgba(0, 68, 153, .9);
	color: #fff;
	padding: 24px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, .1);
	box-shadow: 0 5px 30px rgba(0, 0, 0, .1)
}

.tooltip.info .tooltip-arrow {
	border-color: rgba(0, 68, 153, .9)
}

.tooltip.popover .popover-inner {
	background: #f9f9f9;
	color: #000;
	padding: 24px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, .1);
	box-shadow: 0 5px 30px rgba(0, 0, 0, .1)
}

.tooltip.popover .popover-arrow {
	border-color: #f9f9f9
}

.aliasBox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 180px;
	width: 100%;
	border-radius: 2px;
	border: 1px solid #ccc;
	text-align: justify;
	position: absolute;
	background-color: #fff;
	-webkit-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .2);
	word-break: break-all;
	z-index: 1
}

.aliasBox.modify {
	position: absolute;
	padding: 1rem;
	left: 50%
}

.aliasBox.modify input[type=text] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	width: 100%;
	padding: .5rem;
	margin-bottom: 12px;
	border-radius: 0;
	background-color: transparent;
	outline: none;
	resize: none
}

.aliasBox.modify input[type=text]:not([readonly]):not(.bordered):focus {
	border-color: #ff6900
}

.alias {
	position: relative;
	display: inline-block;
	padding: .3rem .1rem;
	width: 5rem;
	border-radius: 4px;
	font-size: 12px;
	outline: 0;
	background-color: #ffe1cb;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	word-break: break-all;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1)
}

.alias.selector {
	margin: .3rem 2rem .3rem .5rem
}

.alias.empty {
	background-color: #f5f6f7
}

.alias.fixed {
	position: absolute;
	left: .3rem;
	z-index: 2
}

.card {
	background-color: #fff;
	-webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .05);
	box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .05)
}

.card .title {
	padding: 0;
	padding-bottom: 1rem;
	font-size: 16px
}

.card.square .title,
.card>.title {
	padding: 1rem;
	border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.card.square .title.borderless,
.card>.title.borderless {
	border-bottom: 0!important
}

.card .portrait {
	display: block;
	width: 100%;
	min-height: 60%
}

.card .content {
	padding: 1rem
}

.card .content.centered {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-align: center
}

.card .buttons {
	padding: 1rem;
	text-align: right
}

.card .buttons .button+.button {
	margin-left: .5rem
}

.card.square {
	position: relative
}

.card.square:after {
	content: "";
	display: block;
	padding-bottom: 100%
}

.card.square>div {
	position: absolute;
	width: 100%;
	height: 100%
}

.card.square .portrait {
	height: auto
}

#viewport {
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out
}

#viewport.blurred {
	-webkit-filter: blur(1.5rem);
	filter: blur(1.5rem)
}

.layer {
	position: fixed;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #fff;
	overflow-x: hidden;
	overflow-y: hidden;
	opacity: 0;
	-webkit-transition: all .25s ease-out;
	transition: all .25s ease-out
}

.layer.dark {
	background-color: rgba(0, 0, 0, .5)!important
}

.layer .close.action.button {
	position: absolute;
	left: -7.5rem;
	top: 0
}

.layer .card>.close.action.button {
	left: auto!important;
	right: 1rem;
	top: 1.25rem;
	width: 1rem;
	height: 1rem
}

.layer div.modal {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	max-width: 960px;
	margin-bottom: 1rem;
	-webkit-transform: translate(-50%, -42.5%);
	transform: translate(-50%, -42.5%);
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out
}

.layer div.modal.fixed {
	top: 12.5%;
	-webkit-transform: translateX(-50%)!important;
	transform: translateX(-50%)!important
}

.layer div.modal.small {
	max-width: 720px
}

.layer div.modal.tiny {
	max-width: 480px
}

.layer.active {
	z-index: 501;
	opacity: 1
}

.layer.active div.modal {
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.layer.active div.modal.fixed {
	top: 10%
}

.warning.modal .close.action.button:before,
.warning.modal .close.action.button span {
	background-color: #fff
}

.warning.modal .title {
	background-color: #ef4747;
	color: #fff
}

.summary {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.summary>* {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.summary>* dd,
.summary>* dt {
	margin-bottom: .5rem;
	padding-left: 2rem;
	padding-right: 2rem
}

.summary>* dd.highlight {
	font-size: 2rem;
	font-weight: 700
}

.summary>* dd.sub {
	color: rgba(0, 0, 0, .55)
}

.summary>*+* {
	border-left: 1px solid rgba(0, 0, 0, .1)
}

#sidebar+#main {
	margin-left: 15rem
}

#content {
	padding: 2rem
}

#content.centered {
	padding: 0
}

#content.centered .container {
	margin: 0 auto
}

ol.steps[data-v] {
	position: relative;
	counter-reset: list
}

ol.steps>li[data-v] {
	position: relative;
	padding: .5rem;
	padding-left: 3rem;
	padding-bottom: 1.5rem;
	font-size: 14px
}

ol.steps>li[data-v]:before {
	content: counter(list);
	counter-increment: list;
	position: absolute;
	left: 0;
	top: .2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: #aaa;
	color: #fff;
	font-size: 16px;
	-webkit-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out
}

ol.steps>li[data-v]:after {
	content: "";
	display: block;
	width: 1px;
	background-color: rgba(0, 0, 0, .1);
	position: absolute;
	z-index: -1;
	left: 1rem;
	top: 1rem;
	bottom: 0
}

ol.steps>li[data-v]:last-child:after {
	display: none
}

ol.steps>li p.title[data-v] {
	margin-top: 0;
	margin-bottom: 1rem
}

ol.steps>li a.external[data-v] {
	color: #ff6900
}

ol.steps>li .buttons[data-v] {
	margin-top: 2rem
}

ol.steps>li .button+.button[data-v] {
	margin-left: 1rem
}

ol.steps>li.active[data-v] {
	padding-bottom: 4rem
}

ol.steps>li.active[data-v]:before {
	background-color: #ff6900;
	font-weight: 700
}

ol.steps>li.active p.title[data-v] {
	font-weight: 700
}

ol.steps>li.checked[data-v]:before {
	content: "✓";
	font-weight: 400;
	background-color: #ff6900
}

ol.instructions[data-v] {
	list-style: decimal;
	margin: 2rem 1rem
}

ol.instructions li[data-v] {
	margin-top: .75rem;
	margin-bottom: .75rem
}

.formset[data-v] {
	display: inline-block;
	padding: 1rem;
	background-color: #f0f0f0
}

.formset input[data-v] {
	background-color: #d7d7d7
}

.copy.icon[data-v] {
	-ms-flex-item-align: center;
	align-self: center;
	left: -2rem;
	cursor: pointer;
	color: rgba(0, 0, 0, .55)
}

.copy.icon[data-v]:hover {
	color: #000
}

ul.formset li>[data-v] {
	-ms-flex-item-align: center;
	align-self: center
}


span {
	font-size: .75rem;
}