.card[data-v-84f99162] {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 480px
}

.card .content[data-v-84f99162] {
	padding: 2rem
}

h1[data-v-84f99162] {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	width: 10rem;
	height: 2rem;
	font-size: 0;
	background-image: url(../img/logo_dark.3dcaa084.png);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 100%
}

h2[data-v-84f99162] {
	margin-top: 1rem;
	margin-bottom: 2rem;
	text-align: center;
	font-size: 18px
}

.toast[data-v-84f99162] {
	margin-bottom: 4rem;
	text-align: center;
	color: red
}